
        *{
            margin: 0;
            padding: 0;

        }
         
        body{
          -moz-background-clip: food.mp4;
        }
        div{
            font-size: 300%;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: antiquewhite;
        }
        .topnav{
            background-color:none;
            overflow: hidden;
        }
        .topnav a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            
          }
          
        .topnav a:hover {
            background-color: #ddd;
            color: black;
            border-radius:16px;
        }
        .topnav a.active {
            background-color: none;
            color: white;
          }
          p{
            color: rgb(236, 231, 226);
            text-align: center;
            font-size: 230%;
          }
          input {
            padding: 5px 10px;
            border: 0;
            font-size: 19px;
            border-radius: 16px;

          }
          
          .search {
            width: 75%;
          }
          
          
          
          .submit {
            width: 90px;
            background-color: #233f51;
            color: #ffffff;

          }
          .submit:hover {
            background-color: aqua;
            color: red;
          }